@import url(https://fonts.googleapis.com/css?family=Mukta:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Dosis:600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-about-us:before {
  content: "\e900";
}

._icon-blog:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-gallery:before {
  content: "\e903";
}

._icon-heart:before {
  content: "\e904";
}

._icon-home:before {
  content: "\e905";
}

._icon-increase:before {
  content: "\e906";
}

._icon-letter:before {
  content: "\e907";
}

._icon-location:before {
  content: "\e908";
}

._icon-product-cart:before {
  content: "\e909";
}

._icon-rating:before {
  content: "\e90a";
}

._icon-share:before {
  content: "\e90b";
}

._icon-shop:before {
  content: "\e90c";
}

._icon-sign-up:before {
  content: "\e90d";
}

._icon-user:before {
  content: "\e90e";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #335E74;
  line-height: 1;
  font-family: "Mukta";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mukta";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F3F3F3;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 10.3125rem 1fr;
  grid-template-columns: 10.3125rem 1fr;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > * {
  min-width: 0;
}

.wrapper > main {
  position: relative;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  overflow: auto;
}

.tabs__navigation:not(:last-child) {
  margin-bottom: 1.875rem;
}

.tabs__title {
  border: 1px solid rgb(213, 213, 213);
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  font-size: 1.0625rem;
  line-height: 1.35;
  letter-spacing: 0.045em;
  color: #264A51;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  line-height: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "☆☆☆☆☆";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  display: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background-color: #002A32;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.9375rem;
}

.title {
  font-family: "Dosis";
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.045em;
  color: #264A51;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  background-color: rgba(99, 162, 188, 0.95);
  z-index: 1;
}

.header__container {
  max-width: 65.3125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.header__value::after {
  content: "12k";
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #DD6060;
  margin-left: 0.1875rem;
}

.header__value--1::after {
  content: "$0";
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: #fff;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0.0625rem;
  background-color: #fff;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link span {
  display: block;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: #3E5860;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
}

.footer__column:nth-child(4) {
  justify-self: flex-start;
}

.footer__logo {
  display: inline-block;
  width: 100%;
}

.footer__logo img {
  max-width: 100%;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__text {
  font-family: "Open Sans";
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
}

.footer__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__title {
  cursor: default;
  text-align: left;
  width: 100%;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #264A51;
}

.footer__title--spoller {
  position: relative;
}

._spoller-init .footer__title--spoller {
  cursor: pointer;
}

._spoller-init .footer__title--spoller::before,
._spoller-init .footer__title--spoller::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #264A51;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .footer__title--spoller::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .footer__title--spoller::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .footer__title--spoller._spoller-active::before {
  -webkit-transform: translate(-75%) rotate(-40deg);
      -ms-transform: translate(-75%) rotate(-40deg);
          transform: translate(-75%) rotate(-40deg);
}

._spoller-init .footer__title--spoller._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

._spoller-init ._spoller-init .footer__title--spoller {
  position: relative;
  width: 100%;
  text-align: left;
}

._spoller-init ._spoller-init .footer__title--spoller::before,
._spoller-init ._spoller-init .footer__title--spoller::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.625rem;
  background-color: #000;
}

._spoller-init ._spoller-init .footer__title--spoller::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 0.4375rem;
}

._spoller-init ._spoller-init .footer__title--spoller::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .footer__title--spoller._spoller-active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .footer__title--spoller._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer__link {
  font-family: "Open Sans";
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
  text-decoration: underline;
}

.footer__bottom {
  background-color: #D3E2EF;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__rights {
  font-family: "Open Sans";
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.125rem;
}

.footer__rights::before {
  content: "";
  background: url("../img/footer/icons/c.svg") 0 0 no-repeat;
  width: 0.375rem;
  height: 0.375rem;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.menu-footer__link {
  font-family: "Open Sans";
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
  text-decoration: underline;
}

.block-footer {
  background: #A0C7EA;
  border-radius: 0.4375rem;
  padding: 1.25rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.block-footer__item {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #335E74;
}

.block-footer__item span {
  font-weight: 400;
  color: #fff;
}

.main__slider {
  position: relative;
}

.swiper-slide {
  height: 100vh;
}

.swiper-slide__container {
  max-width: 65.3125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide__label {
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #4E6E77;
}

.swiper-slide__title {
  font-family: "Dosis";
  font-weight: 600;
  line-height: 133.5%;
  letter-spacing: 0.045em;
  color: #264A51;
  max-width: 25rem;
}

.swiper-slide__btn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: 0.045em;
  color: #264A51;
  padding: 0.625rem 1.5625rem;
  border: 0.125rem solid #264A51;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  border: 0.0625rem solid #677F8B;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #677F8B;
}

.partners {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  background-color: #D2E2EE;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  max-width: 7.5rem;
}

.partners__item img {
  width: 100%;
}

.sidebar {
  background-color: #002A32;
}

.sidebar__body {
  padding-top: 1.25rem;
  position: fixed;
  z-index: 20;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  width: 10.3125rem;
}

.sidebar__logo {
  display: block;
  margin: 0 auto 1.875rem auto;
  width: 5.9375rem;
  position: relative;
  z-index: 35;
}

.sidebar__logo img {
  width: 100%;
}

.sidebar__list {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
  font-size: 1.875rem;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.sidebar__link span {
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #8999A1;
}

.products__title {
  text-align: center;
}

.products__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.tabs__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.item-tabs__preview {
  background: #F1F6F9;
  -webkit-box-shadow: 0 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
  border-radius: 0.1875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.875rem;
  padding: 1.25rem;
  min-height: 19.75rem;
}

.item-tabs__preview:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-tabs__labels {
  position: absolute;
  top: 1.875rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  width: 5.3125rem;
}

.item-tabs__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  background-color: #264A51;
}

.item-tabs__label--sale {
  border-radius: 50%;
}

.item-tabs__label--new {
  border-radius: 50%;
  background-color: #71B3C6;
}

.item-tabs__label--out {
  width: 100%;
  height: 2.375rem;
  border-radius: 0.125rem 0px 0px 0.125rem;
  padding: 0.375rem;
}

.item-tabs__image {
  width: 9.375rem;
  height: 9.375rem;
}

.item-tabs__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-tabs__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.item-tabs__button {
  background-color: #71B3C6;
  border-radius: 0.125rem;
  padding: 0.625rem;
  color: #FFFFFF;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.item-tabs__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-size: 0.9375rem;
  line-height: 1.3;
  letter-spacing: 0.045em;
  color: #264A51;
}

.no-webp .weekend-trendy{
  background: url("../img/weekend-trendy/image.png") 82% 100%/cover no-repeat; }

.weekend-trendy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.weekend-trendy__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.25rem;
          flex: 0 1 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weekend-trendy__label {
  font-family: "Dosis";
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.045em;
  color: rgba(243, 184, 5, 0.5);
}

.weekend-trendy__title {
  font-family: "Dosis";
  text-align: center;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.045em;
  color: #264A51;
}

.weekend-trendy__text {
  max-width: 24.375rem;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
}

.weekend-trendy__button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: 0.045em;
  color: #264A51;
  padding: 0.625rem 1.5625rem;
  border: 0.125rem solid #264A51;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.catalog__container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.catalog__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  position: relative;
}

.catalog__box span {
  font-family: "Dosis";
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.4;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7.5rem;
  text-align: center;
  -webkit-transform: translate(50%, -35%);
      -ms-transform: translate(50%, -35%);
          transform: translate(50%, -35%);
  padding: 3.125rem 0;
  background-color: rgba(113, 179, 198, 0.85);
  border-radius: 0.1875rem;
}

.catalog__box--left span {
  left: 0;
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

.catalog__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.catalog__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.catalog__text {
  font-size: 0.9375rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #335E74;
}

.catalog__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.catalog__button {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: 0.045em;
  color: #264A51;
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid #264A51;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .discount{
  background: url("../img/discount/image.png") 82% 100%/cover no-repeat; }

.discount {
  position: relative;
  background-color: rgba(93, 155, 201, 0.69);
}

.discount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 155, 201, 0.69);
}

.discount__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.discount__title {
  font-weight: 600;
  line-height: 133.5%;
  letter-spacing: 0.045em;
  color: #264A51;
}

.discount__text {
  max-width: 24.375rem;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #FFFFFF;
}

.form-discount {
  width: 28.75rem;
  position: relative;
}

.form-discount__input {
  width: 100%;
  min-height: 2.875rem;
  padding: 0.9375rem 9.75rem 0.9375rem 1.25rem;
  border-radius: 3.125rem;
  color: #264A51;
  outline: none;
}

.form-discount__input::-webkit-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: rgba(69, 94, 101, 0.47);
}

.form-discount__input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: rgba(69, 94, 101, 0.47);
}

.form-discount__input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: rgba(69, 94, 101, 0.47);
}

.form-discount__input::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: rgba(69, 94, 101, 0.47);
}

.form-discount__input::placeholder {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: rgba(69, 94, 101, 0.47);
}

.form-discount__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(38, 74, 81, 0.89);
  -webkit-box-shadow: -0.125rem 0.9375rem 2.5rem rgba(0, 0, 0, 0.11);
          box-shadow: -0.125rem 0.9375rem 2.5rem rgba(0, 0, 0, 0.11);
  border-radius: 3.125rem;
  padding: 0.90625rem 1.875rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 47.99875em) {
  .social-footer__link {
    color: #3A5B62;
    border-radius: 50%;
    outline: 0.0625rem solid transparent;
    outline-offset: 0.6875rem;
    -webkit-transition-property: color, outline-color;
    -o-transition-property: color, outline-color;
    transition-property: color, outline-color;
    -webkit-transition-duration: 0.3s, 0.2s, 0.3s;
         -o-transition-duration: 0.3s, 0.2s, 0.3s;
            transition-duration: 0.3s, 0.2s, 0.3s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
  }

  .social-footer__link:active {
    color: #070b0c;
  }

  .social-footer__link:focus {
    outline-color: #F6FDFF;
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .social-footer__link:hover {
    color: #24373c;
  }
}

@media (min-width: 71.25em) {
  .title {
    font-size: 2.4375rem;
  }

  .title--big {
    font-size: 2.875rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-top: 6.25rem;
  }

  .footer__container {
    padding-bottom: 2.8125rem;
  }

  .footer__container {
    gap: 3.75rem;
  }

  .swiper-slide {
    padding-top: 16.25rem;
  }

  .swiper-slide {
    padding-bottom: 16.25rem;
  }

  .swiper-slide__title {
    font-size: 3.125rem;
  }

  .products {
    padding-top: 7.1875rem;
  }

  .products {
    padding-bottom: 7.1875rem;
  }

  .weekend-trendy {
    padding-top: 10.9375rem;
  }

  .weekend-trendy {
    padding-bottom: 10.9375rem;
  }

  .weekend-trendy__body {
    gap: 1.25rem;
  }

  .weekend-trendy__label {
    font-size: 5.625rem;
  }

  .weekend-trendy__title {
    font-size: 3.75rem;
  }

  .catalog {
    padding-top: 7.1875rem;
  }

  .catalog {
    padding-bottom: 7.1875rem;
  }

  .catalog__container:not(:last-child) {
    margin-bottom: 7.1875rem;
  }

  .catalog__image-ibg {
    height: 25rem;
  }

  .discount {
    padding-top: 10.3125rem;
  }

  .discount {
    padding-bottom: 12.5rem;
  }

  .discount__title {
    font-size: 2.875rem;
  }

  .form-discount {
    width: 28.75rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .title--big {
    font-size: 2.125rem;
  }

  .header {
    padding-top: 0.9375rem;
  }

  .header {
    padding-bottom: 0.9375rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    gap: 1.875rem;
  }

  .swiper-slide {
    padding-top: 7.5rem;
  }

  .swiper-slide {
    padding-bottom: 5rem;
  }

  .swiper-slide__title {
    font-size: 1.875rem;
  }

  .products {
    padding-top: 1.875rem;
  }

  .products {
    padding-bottom: 1.875rem;
  }

  .weekend-trendy {
    padding-top: 1.875rem;
  }

  .weekend-trendy {
    padding-bottom: 1.875rem;
  }

  .weekend-trendy__body {
    gap: 0.625rem;
  }

  .weekend-trendy__label {
    font-size: 3.375rem;
  }

  .weekend-trendy__title {
    font-size: 2.25rem;
  }

  .catalog {
    padding-top: 1.875rem;
  }

  .catalog {
    padding-bottom: 1.875rem;
  }

  .catalog__container:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .catalog__image-ibg {
    height: 12.5rem;
  }

  .discount {
    padding-top: 1.875rem;
  }

  .discount {
    padding-bottom: 1.875rem;
  }

  .discount__title {
    font-size: 2rem;
  }

  .form-discount {
    width: 18.75rem;
  }
}

@media (max-width: 71.25em) {
  .tabs__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__column:nth-child(1) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .partners__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tabs__title {
    padding: 0.3125rem 0.625rem;
  }

  .menu__body {
    z-index: 3;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #002A32;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1.25rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: rgba(99, 162, 188, 0.95);
    top: 0;
    left: -100%;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .menu__link span {
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #002A32;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 1.25rem;
  }

  .footer__column:nth-child(1) {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__text {
    text-align: center;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .partners__item {
    max-width: 4.375rem;
  }

  .sidebar__body {
    position: relative;
    z-index: 1;
    width: auto;
    padding-top: 0;
    height: 100%;
  }

  .sidebar__logo {
    margin: 0;
  }

  .sidebar__list {
    gap: 1.25rem;
  }

  .sidebar__link {
    font-size: 1.875rem;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }

  .sidebar__link span {
    color: #fff;
  }

  .no-webp .weekend-trendy{
    background: url("../img/weekend-trendy/image.png") 0 0/cover no-repeat; }

  .catalog__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog__container--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog__box span {
    -webkit-transform: translate(-35%, 20%);
        -ms-transform: translate(-35%, 20%);
            transform: translate(-35%, 20%);
  }

  .catalog__box--left span {
    -webkit-transform: translate(35%, 20%);
        -ms-transform: translate(35%, 20%);
            transform: translate(35%, 20%);
  }

  .catalog__image-ibg {
    padding-bottom: 80%;
  }

  .no-webp .discount{
    background: url("../img/discount/image.png") 0 0/cover no-repeat; }
}

@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .menu__body {
    padding-top: 5.9375rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 4.5625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .tabs__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 29.99875em) {
  .form-discount__input:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .form-discount__btn {
    position: static;
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.75rem , 1.4817073171rem  +  1.3414634146vw , 2.4375rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.4817073171rem  +  1.3414634146vw , 2.4375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4817073171rem  +  1.3414634146vw , 2.4375rem )) {
    .title {
      font-size: calc(1.75rem + 0.6875 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.125rem , 1.8323170732rem  +  1.4634146341vw , 2.875rem )) {
    .title--big {
      font-size: clamp( 2.125rem , 1.8323170732rem  +  1.4634146341vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.8323170732rem  +  1.4634146341vw , 2.875rem )) {
    .title--big {
      font-size: calc(2.125rem + 0.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header {
      padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .header {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5091463415rem  +  1.8292682927vw , 2.8125rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .footer__container {
      gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .footer__container {
      gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 7.5rem , 4.0853658537rem  +  17.0731707317vw , 16.25rem )) {
    .swiper-slide {
      padding-top: clamp( 7.5rem , 4.0853658537rem  +  17.0731707317vw , 16.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 4.0853658537rem  +  17.0731707317vw , 16.25rem )) {
    .swiper-slide {
      padding-top: calc(7.5rem + 8.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 5rem , 0.6097560976rem  +  21.9512195122vw , 16.25rem )) {
    .swiper-slide {
      padding-bottom: clamp( 5rem , 0.6097560976rem  +  21.9512195122vw , 16.25rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 0.6097560976rem  +  21.9512195122vw , 16.25rem )) {
    .swiper-slide {
      padding-bottom: calc(5rem + 11.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .swiper-slide__title {
      font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.387195122rem  +  2.4390243902vw , 3.125rem )) {
    .swiper-slide__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .products {
      padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .products {
      padding-top: calc(1.875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .products {
      padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .products {
      padding-bottom: calc(1.875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem )) {
    .weekend-trendy {
      padding-top: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem )) {
    .weekend-trendy {
      padding-top: calc(1.875rem + 9.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem )) {
    .weekend-trendy {
      padding-bottom: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.6615853659rem  +  17.6829268293vw , 10.9375rem )) {
    .weekend-trendy {
      padding-bottom: calc(1.875rem + 9.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem )) {
    .weekend-trendy__body {
      gap: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.381097561rem  +  1.2195121951vw , 1.25rem )) {
    .weekend-trendy__body {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 3.375rem , 2.4969512195rem  +  4.3902439024vw , 5.625rem )) {
    .weekend-trendy__label {
      font-size: clamp( 3.375rem , 2.4969512195rem  +  4.3902439024vw , 5.625rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 2.4969512195rem  +  4.3902439024vw , 5.625rem )) {
    .weekend-trendy__label {
      font-size: calc(3.375rem + 2.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.25rem , 1.6646341463rem  +  2.9268292683vw , 3.75rem )) {
    .weekend-trendy__title {
      font-size: clamp( 2.25rem , 1.6646341463rem  +  2.9268292683vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.6646341463rem  +  2.9268292683vw , 3.75rem )) {
    .weekend-trendy__title {
      font-size: calc(2.25rem + 1.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog {
      padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog {
      padding-top: calc(1.875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog {
      padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog {
      padding-bottom: calc(1.875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog__container:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.1981707317rem  +  10.3658536585vw , 7.1875rem )) {
    .catalog__container:not(:last-child) {
      margin-bottom: calc(1.875rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (height: clamp( 12.5rem , 7.6219512195rem  +  24.3902439024vw , 25rem )) {
    .catalog__image-ibg {
      height: clamp( 12.5rem , 7.6219512195rem  +  24.3902439024vw , 25rem );
    }
}

@supports not (height: clamp( 12.5rem , 7.6219512195rem  +  24.3902439024vw , 25rem )) {
    .catalog__image-ibg {
      height: calc(12.5rem + 12.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.4176829268rem  +  16.4634146341vw , 10.3125rem )) {
    .discount {
      padding-top: clamp( 1.875rem , -1.4176829268rem  +  16.4634146341vw , 10.3125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.4176829268rem  +  16.4634146341vw , 10.3125rem )) {
    .discount {
      padding-top: calc(1.875rem + 8.4375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -2.2713414634rem  +  20.7317073171vw , 12.5rem )) {
    .discount {
      padding-bottom: clamp( 1.875rem , -2.2713414634rem  +  20.7317073171vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.2713414634rem  +  20.7317073171vw , 12.5rem )) {
    .discount {
      padding-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2rem , 1.6585365854rem  +  1.7073170732vw , 2.875rem )) {
    .discount__title {
      font-size: clamp( 2rem , 1.6585365854rem  +  1.7073170732vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6585365854rem  +  1.7073170732vw , 2.875rem )) {
    .discount__title {
      font-size: calc(2rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (width: clamp( 18.75rem , 14.8475609756rem  +  19.512195122vw , 28.75rem )) {
    .form-discount {
      width: clamp( 18.75rem , 14.8475609756rem  +  19.512195122vw , 28.75rem );
    }
}

@supports not (width: clamp( 18.75rem , 14.8475609756rem  +  19.512195122vw , 28.75rem )) {
    .form-discount {
      width: calc(18.75rem + 10 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 71.25em) {
  .menu__body::before {
    min-height: 6.4375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 71.25em) {
@supports (min-height: clamp( 4.5625rem , 3.8307926829rem  +  3.6585365854vw , 6.4375rem )) {
    .menu__body::before {
      min-height: clamp( 4.5625rem , 3.8307926829rem  +  3.6585365854vw , 6.4375rem );
    }
}

@supports not (min-height: clamp( 4.5625rem , 3.8307926829rem  +  3.6585365854vw , 6.4375rem )) {
    .menu__body::before {
      min-height: calc(4.5625rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .tabs__title:hover {
    border: 1px solid rgb(151, 151, 151);
  }

  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }

  .footer__link:hover {
    text-decoration: none;
  }

  .menu-footer__link:hover {
    text-decoration: none;
  }

  .swiper-slide__btn:hover {
    background-color: #264A51;
    color: #FFFFFF;
  }

  .sidebar__link:hover {
    background-color: #3C6C7F;
  }

  .item-tabs__button:hover {
    background-color: #4b899a;
  }

  .weekend-trendy__button:hover {
    background-color: #264A51;
    color: #FFFFFF;
  }

  .catalog__button:hover {
    background-color: #264A51;
    color: #FFFFFF;
  }

  .form-discount__btn:hover {
    background-color: rgba(25, 51, 56, 0.89);
  }
}

.webp .weekend-trendy{ background: url(../img/weekend-trendy/image.webp) 82% 100%/cover no-repeat; }

.webp .discount{ background: url(../img/discount/image.webp) 82% 100%/cover no-repeat; }

@media (max-width: 47.99875em){

  .webp .weekend-trendy{ background: url(../img/weekend-trendy/image.webp) 0 0/cover no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .discount{ background: url(../img/discount/image.webp) 0 0/cover no-repeat; }
}